#logo {
    border-radius: 100px;
}

#cart {
    display: none;
}
.cartH {
    text-align: left;
}
.homeH {
    text-align: right;
}
#cartholder {
    display: none;
}

#delivery {
    display: none;
}